obj
deps
*.out
*.map
run.log
demo/*/fs
demo/*/profile.log
*.gcov
TAGS

tst/*/*/fs
tst/*/*/profile.log
tst/*/*/coverage.*
tst/*/*/size.log
tst/*/*/*.hex

examples/*/fs
examples/*/profile.log
examples/*/coverage.*
examples/*/size.log
examples/*/*.hex

examples/*/*/fs
examples/*/*/profile.log
examples/*/*/coverage.*
examples/*/*/size.log
examples/*/*/*.hex
