gen
obj
deps
*.out
*.map
run.log
*.gcov
.TAGS
TAGS
\#*
*.pyc

tst/*/*/sdcard

profile.log
coverage.*
size.log
*.hex

doc/_build
doc/xml

database.json
coverage
simba.rs
simba-arduino
build

.*.passed

spc5tool_gui.json