obj
deps
*.out
*.map
run.log
demo/*/gen
demo/*/profile.log
*.gcov
TAGS

tst/*/*/gen
tst/*/*/profile.log
tst/*/*/coverage.*
tst/*/*/size.log
tst/*/*/*.hex
tst/*/*/eeprom.bin
tst/*/*/settings.h
tst/*/*/settings.bin

examples/*/gen
examples/*/profile.log
examples/*/coverage.*
examples/*/size.log
examples/*/*.hex
examples/*/settings.h
examples/*/settings.bin
